@{
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Job Notifications Here.</h2>
        </hgroup>
        <p>
           Job Categories may be placed here
        </p>
    </div>
</section>
}

<h3>School Information:</h3>

<ol class="round">
    <li class="one">
        <p>JCCC Career Center Link</p>
        <p>Info</p>
        <p> Maybe some Graphics</p>
        <br />
    </li>

    <li class="two">
        <p>JCCC Internship Link<
        <p>Info</p>
        <p> Maybe some Graphics</p>
        <br />
    </li>

    <li class="three">
        <p>JCCC Job Shadow Link</p>
        <p>Info</p>
        <p> Maybe some Graphics</p>
        <br />
    </li>
</ol>